@use '@carbon/type';
@use '@carbon/layout';
@use '@carbon/colors';
@use '@carbon/themes';

.form {
  max-width: layout.rem(448px);
  margin: layout.$spacing-05 layout.$spacing-05 layout.$spacing-07 layout.$spacing-05;
}

.form--title-container {
  @include type.type-style('heading-04');
  padding-bottom: layout.$spacing-07;
  margin-bottom: layout.$spacing-05;
  border-bottom: 1px solid themes.$border-subtle-00;
}

.form__label {
  @include type.type-style('label-02');
  color: themes.$text-primary;
}

.form--alt-login-container {
  margin-bottom: layout.$spacing-05;
}

.form--alt-login__label {
  @include type.type-style('body-compact-01');
}

.form--submit {
  width: 100%;
  max-width: 100%;
  margin-top: layout.$spacing-05;
}

.inline-notification {
    margin-bottom: layout.$spacing-07;
}

